body{background-color:#ffffff;}
a {border:0;}
img{border:0;}

#page{width:600px; margin: 0 auto; position:relative; }
#header{overflow:hidden;}

#menucontainer{position: absolute; top: 0px;}

#menu                               {width:600px; background-color: #e892e8;}
  #menu ul                          {margin:0; padding:0;}
    #menu ul li                     {position:relative; float:left;list-style-type:none;}
      #menu ul li a                 {display:block; padding:5px; text-decoration:none; color: #262026; background-color: #fefefe;}
      #menu ul li a:hover           {color: #171117; background-color: #876fb0;}
      #menu ul li a.selected        {color: #261a26; background-color: #916191;}

      #menu ul li ul                { display: none; position:absolute; top: 30px; left:0; }
      #menu ul li:hover ul          {display:block;}

      #menu ul li ul.submenu                    {margin:0; padding:0;  background-color: #3e6ed6;width: 150px;}
        #menu ul li ul.submenu li               {list-style-type:none; float:none;}
          #menu ul li ul.submenu li a           { color: #591d59; background-color: #8c65d4;}
          #menu ul li ul.submenu li a:hover     { color: #331d33; background-color: #c737c7;}
          #menu ul li ul.submenu li a.selected  { color: #261a26; background-color: #462066;}

#submenucontainerbelow, #submenucontainerseperate  {background-color: #3e6ed6}
#submenucontainerseperate {}      
  ul.submenu          {margin:0; padding:0; background-color: #3e6ed6;width: 150px;}
    ul.submenu li               {list-style-type:none; float:none;}
      ul.submenu li a           {display:block;padding:5px; text-decoration:none; color: #591d59; background-color: #8c65d4;}
      ul.submenu li a:hover     { color: #331d33; background-color: #c737c7;}
      ul.submenu li a.selected  { color: #261a26; background-color: #462066;}  
          
#content {padding-top: 40px; padding-left:20px; background-color:#ffffff;} 

a.galleryPreview {overflow:hidden; margin: 10px 0; display:block; color:Black; text-decoration:none; padding: 5px;}
a.galleryPreview:hover {background-color: #cccccc;}
.galleryPreview img {float:left; margin-right:20px;}
.galleryPreview div {float:left;}

#footer {clear:both; position:relative; overflow:hidden;}
#footerText {padding:10px; }