body{/*body*/}
a {border:0;}
img{border:0;}

#page{/*site_width*/ margin: 0 auto; position:relative; /*border*/}
#header{overflow:hidden;}

#menucontainer{/*menucontainer*/}

#menu                               {/*menu*/}
  #menu ul                          {margin:0; padding:0;}
    #menu ul li                     {position:relative; /*menu_ul_li*/}
      #menu ul li a                 {display:block; padding:5px; text-decoration:none; /*menu_ul_li_a*/}
      #menu ul li a:hover           {/*menu_ul_li_a_hover*/}
      #menu ul li a.selected        {/*menu_ul_li_a_selected*/}

      #menu ul li ul                { display: none; /*menu_ul_li_ul*/ }
      #menu ul li:hover ul          {/*menu_ul_li_hover_ul*/}

      #menu ul li ul.submenu                    {margin:0; padding:0;  /*submenu*/}
        #menu ul li ul.submenu li               {list-style-type:none; /*submenu_li*/}
          #menu ul li ul.submenu li a           { /*submenu_li_a*/}
          #menu ul li ul.submenu li a:hover     { /*submenu_li_a_hover*/}
          #menu ul li ul.submenu li a.selected  { /*submenu_li_a_selected*/}

#submenucontainerbelow, #submenucontainerseperate  {/*submenu_bg*/}
#submenucontainerseperate {/*submenu_seperate*/}      
  ul.submenu          {margin:0; padding:0; /*submenu*/}
    ul.submenu li               {list-style-type:none; /*submenu_li*/}
      ul.submenu li a           {display:block;padding:5px; text-decoration:none; /*submenu_li_a*/}
      ul.submenu li a:hover     { /*submenu_li_a_hover*/}
      ul.submenu li a.selected  { /*submenu_li_a_selected*/}  
          
#content {padding-top: 40px; padding-left:20px; /*content*/} 
#content a{ text-decoration:none; /*content_a*/}
#content a:hover{/*content_a_hover*/}


a.galleryPreview {overflow:hidden; margin: 10px 0; display:block; color:Black; text-decoration:none; padding: 5px;}
a.galleryPreview:hover {background-color: #cccccc;}
.galleryPreview img {float:left; margin-right:20px;}
.galleryPreview div {float:left;}

#footer {clear:both; position:relative; overflow:hidden;}
#footerText {padding:10px; /*footerText*/}